<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}
    {{ page.title }} | {{ site.title }}
    {% else %}{{ site.title }}
    {% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "manifest.json" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/styles.min.css" | prepend: site.baseurl }}">
  <!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>


